/*navbar*/
.navbar{
	/*padding: 10px 50px;*/
	z-index: 600;
}

/*utility*/
.btn {
	margin: 0px 10px;
}

	.jumbotron {
	  background: url('bg-jumbotron.png');
	  background-repeat: no-repeat;
	  background-position: center;
	  height: 50%;
	}

.container-fluid {
	margin: 0px 50px;
}
.iklan{
	display: flex;
flex-direction: row;
justify-content: center;
align-items: center;
padding: 0px 99px;
gap: 90px;

position: absolute;
left: -3px;
right: 0px;
top: 670px;
bottom: 568px;
}

.card-registration .select-input.form-control[readonly]:not([disabled]) {
font-size: 1rem;
line-height: 2.15;
padding-left: .75em;
padding-right: .75em;
}
.card-registration .select-arrow {
top: 13px;
}

/*login form*/
.divider:after,
.divider:before {
content: "";
flex: 1;
height: 1px;
background: #eee;
}
.h-custom {
height: calc(100% - 73px);
}
@media (max-width: 450px) {
.h-custom {
height: 100%;
}
}

/*sidebar*/
body {
background-color: #fbfbfb;
}
@media (min-width: 991.98px) {
main {
padding-left: 240px;
}
}

/* Sidebar */
.sidebar {
position: fixed;
top: 0;
bottom: 0;
left: 0;
padding: 58px 0 0; /* Height of navbar */
box-shadow: 0 2px 5px 0 rgb(0 0 0 / 5%), 0 2px 10px 0 rgb(0 0 0 / 5%);
width: 240px;
z-index: 1;
}

@media (max-width: 991.98px) {
.sidebar {
width: 100%;
}
}
.sidebar .active {
border-radius: 5px;
box-shadow: 0 2px 5px 0 rgb(0 0 0 / 16%), 0 2px 10px 0 rgb(0 0 0 / 12%);
}

.sidebar-sticky {
position: relative;
top: 0;
height: calc(100vh - 48px);
padding-top: 0.5rem;
overflow-x: hidden;
overflow-y: auto; /* Scrollable contents if viewport is shorter than content. */
}
/*sidebar*/





/*DESKTOP VERSION*/
@media (min-width: 992px) { ... }
	.nav-link:hover::after {
		content: '';
		display: block;
		border-bottom: 3px solid #0D6EFD;
		width: 50%;
		margin: auto;
		padding-bottom: 5px;
		margin-bottom: -8px;
	}
	.jumbotron h1{
		font-size: 62px;
	}
	.jumbotron {
	  background: url('bg-jumbotron.png');
	  background-repeat: no-repeat;
	  background-position: center;
	  /*background-size:cover;*/
	  height: 50%;
	}